<div class="container-fluid">
    <h1>Nuevo prestamo</h1>
    {{#each netbooks}}
    <div class="card">
        <img src="..." class="rounded float-left netbook" alt="...">
    </div>
    {{/each}}
</div>