
<div class="jumbotron-mt4">
    <h1 class="display-4">inIOT Gestion de Netbooks</h1>
    <p class="lead">Aplicacion para gestion de las netbooks pertenecientes al patrimonio de las Escuelas</p>
    <hr class="my-4">
    <ul>
        <li><strong> CARRITOS </strong> Como primer paso, antes de agregar netbooks al sistema deberá crear los carritos
        o entregas para asociar las netbooks --> Menu Carritos - Add Carritos</li>
        
        <li><strong>ESTADOS</strong>
             Puede definir distintos estados para asociar a las netbook.

Por ejemplo, puede crear un estado "Bloqueada" y podra asociar ese estado a una netbook cuando se presente Bloqueada y la misma estara <strong>INACTIVA</strong>. El programa usara los estados para realizar un control en la seccion de prestamos
        </li>
    </ul>
    <p>Bla bla bla bla bla Bla bla bla bla bla Bla bla bla bla bla Bla bla bla bla bla Bla bla bla bla bla Informacion </p>

    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdFWToCleaC08NFgBL2Q9GTIbMm-zKtijH-tjyCT7Jlee-Rmg/viewform" class="btn btn-danger">Solicitar Paquete</a>
</div>

    
    