body{
   /* background: #000000;*/
}
hr{
    border: 0 ; border-top: 4px double rgb(56, 113, 146);
}
/*.rackImg{
    width: 30%;
}*/
.myform{
    background-color: rgba(191, 191, 207, 0.486);
}
.imgEditAndDelete{
    width: 10%;
}
.netbook{
    width: 10%;
}
.container-fluid{
    background-color: antiquewhite;
    border-radius: 30px;
}