p {
    font-family: Arial;
  }

tr:hover {
    background-color:#82E0AA;
}
.tr-color{
    background-color: #8ab6d6;
    color: white;
    font-weight: bold;
}
.listaNetbook{
    background-color: #82E0AA;
}
.myform{
    background-color: #58A1D6;
}
img{
    fill: blue;
}
.logoIn{
    width: 35%;
}
.imgEditAndDelete{
    width: 10%;
}
.netbook{
    width: 10%;
}
.container-fluid{
    background-color: antiquewhite;
    border-radius: 30px;
}
.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }