<div class="modal fade" id="agregar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Cambiar el Estado de la Netbook</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form class="form-floating" action="" method="post">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select class="form-select form-select-lg mb-3">
                                <option selected>ACTIVA</option>
                                <option value="1">INACTIVA</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fecha">Fecha:</label>
                            <input type="date" id="fecha" name="fecha">
                        </div>
                        <div class="form-group">
                            <label for="detalle">Detalle</label>
                            <textarea name="detalle" id="detalle" class="form-control" cols="20" rows="5"
                                placeholder="Detalles"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>